<div class="toast-area"></div>
<div class="toast-box">
  
  <ng-container *ngIf="toastType === 'delete'; else other">
    <div class="toast-box__title">
      Удалить сотрудника?
    </div>
    <div class="toast-box__button">
      <button (click)="onCancellation.emit(false)">Нет</button>
      <button>Да</button>
    </div>
  </ng-container>

  <ng-template #other>
    <div class="toast-box__title">
      {{toastType === 'create'? 'Создать сотрудника': 'Редактировать сотрудника'}}
    </div>
    <div class="toast-box__input">
      <input type="text" placeholder="Имя сотрудника">
      <input type="text" placeholder="Фамилию сотрудника">
    </div>
    <div class="toast-box__button">
      <button (click)="onCancellation.emit(false)">Отмена</button>
      <button>{{toastType === 'create'? 'Создать': 'Сохранить'}}</button>
    </div>
  </ng-template>
</div>
