<div class="content-person">
  <table class="content-person__table">
    <tr class="content-person__table-title">
      <th>Имя</th>
      <th>Фамилия</th>
      <th>
        <button (click)="modalsCreate()" class="content-person__add-person">
          <img src="assets/icons/person_add.svg" />
        </button>
      </th>
    </tr>
    <tr class="content-person__table-data" *ngFor="let person of personList">
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>
        <button
          (click)="modalsUpdate(person)"
          class="content-person__edit-person"
        >
          <img src="assets/icons/edit.svg" />
        </button>
        <button
          (click)="modalsDelete(person)"
          class="content-person__delete-person"
        >
          <img src="assets/icons/delete.svg" />
        </button>
      </td>
    </tr>
  </table>
</div>
<ng-container *ngIf="modalsIsActive">
  <div class="content-modals">
    <app-modals
      [typeModals]="typeModals"
      [editablePerson]="editablePerson"
      (actionWithPerson)="actionWithPerson($event)"
      (cancellationModals)="cancellationModals()"
      (deletePerson)="deletePerson($event)"
    ></app-modals>
  </div>
</ng-container>

<ng-container *ngIf="toastsIsActive">
  <app-toasts
    (closeToasts)="closeToasts()"
    [textMessage]="textMessage"
    [colorToasts]="colorToasts"
    time="4000"
  ></app-toasts>
</ng-container>
