<!--Описание задания
    Предлагаем вам решить тестовое задание - реализовать компонент, который будет возможно внедрять в систему.
    Компонент оперирует сущностью Сотрудник. Для показа компонента предлагается реализовать демо-приложение
    состоящее из данного компонента. Приложение должно состоять из одной страницы, которая отображает:
    список сотрудников в виде таблицы; модальное окно для создания сотрудника; модальное окно для редактирования
    сотрудника; модальное окно/tooltip при удалении сотрудника.-->
<app-employee-panel></app-employee-panel>
